<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baskets</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">CanCookWhat</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <!-- Item 2-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Basket
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/basket}">My Baskets</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/basket/create}">Create a Basket</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 3-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recipes
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/saved}">My Saved Recipes</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/basket}">Find a Recipe using Basket</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/search}">Search for a Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomOne}">1 Random Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomTen}">10 Random Recipes</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 4-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Reviews
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/review/myreviews}">My Reviews</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/review/community}">Community Reviews</a>
                </li>
                </li>
              </ul>
            </li>
            <!-- Item 5-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/ingredients}">Ingredient Database</a>
            </li>
            
          </ul>
          <div class="d-flex">
            <a class="btn btn-outline-light" href="https://cancookwhatcommunity.blogspot.com/">Blog Reviews</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <br>
      <div th:if="${message}" class="alert alert-success">
        <span th:text="${message}"></span>
      </div>
      <div th:if="${fail}" class="alert alert-danger">
        <span th:text="${fail}"></span>
      </div>
      <table width="100%">
        <tr>
          <td>
            <h1 th:utext="${universalTitle}"></h1>
          </td>
          <td style="text-align: right; white-space: nowrap;">
            <a class="btn btn-primary" th:href="@{/basket/create}">New Basket</a>
          </td>
        </tr>
      </table>

      <br>

      <div th:if="${baskets.size() > 0}">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th style="width:35%">Basket Name</th>
                    <th>Ingredients</th>
                    <th style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="eachBasket, rows: ${baskets}">
                    <td th:utext="${eachBasket.name}"></td>
                    <td>
                        <table>
                            <tr th:each="ingredient : ${eachBasket.ingredients}">
                                <td>
                                  <img th:src="'https://www.themealdb.com/images/ingredients/' + ${ingredient} + '.png'" alt="Ingredient Image" style="width: 50px; height: 50px;" />
                                  &nbsp;&nbsp;&nbsp;<span th:utext="${ingredient}"><span>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                    <td>
                      <a class="btn btn-success w-100" th:href="@{/recipe/find/{basket-id}(basket-id=${eachBasket.id})}">Find Recipe</a>
                      <br><br>
                      <a class="btn btn-danger w-100" th:href="@{/basket/delete/{basket-name}(basket-name=${eachBasket.name})}">Delete Basket</a>
                      <br><br><br><br><br>
                    </td>
                </tr>
            </tbody>
        </table>
    <div th:if="${baskets.size() == 0}">
        <p>No baskets and ingredients found.</p>
    </div>

    <br><br><br><br><br>
    <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="btn btn-primary" style="position: fixed; bottom: 15px; right: 15px;">
      <img src="/images/chevrons-up.svg" alt="Back to Top" style="color: white;"/>
    </button>
    
    </div>
  </body>
</html>
