<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
    <br>
    <h3>Recipe Of The Day</h3>
    <table>
        <tr>
            <td>
                <p>recipes pulled from AAPPI / bla /bla /bla descriptions</p>
                <p>recipes pulled from AAPPI / bla /bla /bla descriptions</p>
                <p>recipes pulled from AAPPI / bla /bla /bla descriptions</p>
                <p>recipes pulled from AAPPI / bla /bla /bla descriptions</p>
            </td>
            <td>
                <p>IMAGE IMAGE IMAGE OF DISH</p>
            </td>
        </tr>
    </table>
    <br><br>
    <h3>Baskets</h3>
    <table>
        <th>Container 1</th>
        <tr>
            <td>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
            </td>
            <td>
                <p>button to go to manage container add/remove</p>
                <p>button to go to find recipe with container</p>
            </td>
        </tr>
    </table>
    <table>
        <th>Container 2</th>
        <tr>
            <td>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
            </td>
            <td>
                <p>button to go to manage container add/remove</p>
                <p>button to go to find recipe with container</p>
            </td>
        </tr>
    </table>
    <table>
        <th>Container 3</th>
        <tr>
            <td>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
                <p>ingredients</p>
            </td>
            <td>
                <p>button to go to manage container add/remove</p>
                <p>button to go to find recipe with container</p>
            </td>
        </tr>
    </table>



</body>
</html>