<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Details</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">CanCookWhat</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <!-- Item 2-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Basket
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/basket}">My Baskets</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/basket/create}">Create a Basket</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 3-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recipes
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/saved}">My Saved Recipes</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/basket}">Find a Recipe using Basket</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/search}">Search for a Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomOne}">1 Random Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomTen}">10 Random Recipes</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 4-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Reviews
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/review/myreviews}">My Reviews</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/review/allreviews}">Community Reviews</a>
                </li>
                </li>
              </ul>
            </li>
            <!-- Item 5-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/ingredients}">Ingredient Database</a>
            </li>
            
          </ul>
          <div class="d-flex">
            <a class="btn btn-outline-light" href="https://cancookwhatcommunity.blogspot.com/">Blog Reviews</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <br>
      <div th:if="${message}" class="alert alert-success">
        <span th:text="${message}"></span>
      </div>
      <h1 th:utext="${recipe.strMeal}"></h1>
      <br>

      <img th:src="${recipe.strMealThumb}" alt="Recipe Image" style="width: 100%; height: auto; max-width: 600px; display: inline-block;"/>
      <br><br><br><br>
      <h3>Ingredients & Measurements</h3>
      <table style="border-collapse: collapse; width: 100%;">
        <tbody>
          <tr th:each="pair, rows : ${pairs}" th:if="${rows.index % 2 == 0}">
            <!-- First Column -->
            <td style="border: none; padding: 10px; text-align: left; width: 50%;">
              <div th:if="${list[rows.index] != null}">
                <img th:src="'https://www.themealdb.com/images/ingredients/' + ${list[rows.index]} + '.png'" 
                     alt="Ingredient Image" 
                     style="width: 50px; height: 50px; vertical-align: middle; margin-right: 10px;" />
                <span th:utext="${pair}" style="vertical-align: middle;"></span>
              </div>
            </td>
            <!-- Second Column -->
            <td style="border: none; padding: 10px; text-align: left; width: 50%;" 
                th:if="${rows.index + 1 < pairs.size()}">
              <div th:if="${list[rows.index + 1] != null}">
                <img th:src="'https://www.themealdb.com/images/ingredients/' + ${list[rows.index + 1]} + '.png'" 
                     alt="Ingredient Image" 
                     style="width: 50px; height: 50px; vertical-align: middle; margin-right: 10px;" />
                <span th:utext="${pairs[rows.index + 1]}" style="vertical-align: middle;"></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      <br><br><br>
      <h3>Instructions</h3>
      <p th:utext="${recipe.strInstructions}"></p>
      
      <span>Recipe ID: </span><span th:utext="${recipe.idMeal}"></span>
      <br><br><br>
      <a class="btn btn-primary" th:href="@{/review}">Write a Review</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success" th:href="@{/recipe/save/{recipe-id}(recipe-id=${recipe.idMeal})}">Save this Recipe!</a>
            
      <br><br><br><br><br>
      <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="btn btn-primary" style="position: fixed; bottom: 15px; right: 15px;">
        <img src="/images/chevrons-up.svg" alt="Back to Top" style="color: white;"/>
      </button>
      <br><br><br><br><br>

    </div>
  </body>
</html>
