<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saved Recipes</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">CanCookWhat</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <!-- Item 2-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Basket
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/basket}">My Baskets</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/basket/create}">Create a Basket</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 3-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recipes
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/saved}">My Saved Recipes</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/basket}">Find a Recipe using Basket</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/search}">Search for a Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomOne}">1 Random Recipe</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/recipe/randomTen}">10 Random Recipes</a>
                </li>
              </ul>
            </li>
  
            <!-- Item 4-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Reviews
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/review/myreviews}">My Reviews</a>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/review/allreviews}">Community Reviews</a>
                </li>
                </li>
              </ul>
            </li>
            <!-- Item 5-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/ingredients}">Ingredient Database</a>
            </li>
            
          </ul>
          <div class="d-flex">
            <a class="btn btn-outline-light" href="https://cancookwhatcommunity.blogspot.com/">Blog Reviews</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <br>
      <div th:if="${message}" class="alert alert-success">
        <span th:text="${message}"></span>
      </div>
      <h1>Your Saved Recipes</h1>
      <br>

      <div th:if="${listings.size() > 0}">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th style="width:25%">Image</th>
                    <th>Dish Name</th>
                    <th style="width:15%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="eachListing, rows: ${listings}">
                  <td><img th:src="${eachListing.strMealThumb}" alt="Recipe Image" style="width: 100%;"/></td>
                  <td>
                    <h5 th:utext="${eachListing.strMeal}"></h5>
                    <br>
                    Recipe ID: <span th:utext="${eachListing.idMeal}"></span>
                  </td>
                  <td>
                      <a class="btn btn-success w-100" th:href="@{/recipe/view/{meal-id}(meal-id=${eachListing.idMeal})}">View Recipe</a>
                      <br><br>
                      <a class="btn btn-danger w-100" th:href="@{/recipe/delete/{meal-id}(meal-id=${eachListing.idMeal})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${listings.size() == 0}">
        <p>No saved recipes found.</p>
    </div>

    <br><br><br><br><br>
    <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="btn btn-primary" style="position: fixed; bottom: 15px; right: 15px;">
      <img src="/images/chevrons-up.svg" alt="Back to Top" style="color: white;"/>
    </button>

    </div>
  </body>
</html>
